* {
  background-color: cyan;
  text-align: center;
}

h1 {
  color: yellow;
  font-size: 40px;
  -webkit-text-stroke: 2px black;
}

h3 {
  font-size: xx-large;
  -webkit-text-stroke: 1px white;
}

button {
  background-color: red;
  color: white;
}
